.Filter table {
  width: 100%;
}

.Filter .check-only-fastests {
  line-height: 40px;
}

.Filter .Continent {
  margin: 10px 0;
}

.Filter .Continent > label {
  text-transform: uppercase;
  font-weight: bold;
}

.Filter .uk-button-group .uk-button.uk-padding-small {
  padding-top: 9.5px;
  padding-bottom: 9.5px;
  margin: 0 auto;
}

.Filter .Continent .Datacenter {
  font-size: 90%;
  vertical-align: middle;
}
