/*** GLOBAL ***/

body {
  font-weight: 300;
  font-size: 16px;
}

#speedcheckerdiv {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

.uk-button-primary {
  background-color: #0080FF;
}
.uk-radio:checked, .uk-checkbox:checked, .uk-checkbox:indeterminate {
  background-color: #0080FF;
}
.uk-radio:focus, .uk-checkbox:focus {
  border-color: #0080FF;
}
.uk-radio:disabled, .uk-checkbox:disabled {
  background-color: #f8f8f8;
  border-color: #e5e5e5;
}

a {
  transition: color .3s, border .3s;
  border-bottom: 1px solid transparent;
}
a:hover {
  text-decoration: none;
  border-bottom: 1px solid;
}

.do-account {
  margin-top: 30px;
}
.do-account span, .do-account img {
  width: 220px;
}
.do-account a, .do-account a:hover {
  border: 0px hidden;
  display: inline-block;
}
.do-account span {
  padding-left: 50px;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
}

.github-buttons {
  margin-top: 25px;
}

.github-link {
  position: absolute;
  right: -60px;
  top: 0;
  transform: rotate(45deg);
  font-size: 0;
  z-index: 1;
}
.github-link i,
.github-link img {
  position: absolute;
  font-size: 40px;
  width: 36px;
  left: 60px;
  top: 35px;
  color: #0080FF;
  transform: translate(-50%, -50%);
}
.github-link::before {
  content: "";
  width: 0; 
  height: 0; 
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 60px solid white;
}



/*** HEADER ***/

header {
  cursor: default;
  background: linear-gradient(180deg,#66a5ff,#0069ff);
  min-height: 230px;
  padding: 20px 0 30px;
  margin-bottom: 15px;
  color: white;
  overflow: hidden;
  position: relative;
}
header a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  padding-bottom: 1px;
  font-weight: 600;
  border-bottom: 1px solid transparent;
}
header a:hover {
  color: #c1deff;
  text-decoration: none;
  border-bottom: 1px solid;
  border-color: #c1deff;
}

header h1 {
  font-size: 50px;
  line-height: 60px;
  font-weight: 300;
  letter-spacing: 5px;
  color: white;
}
header h3 {
  margin-top: 25px;
  font-size: 22px;
  line-height: unset;
  font-weight: 300;
  letter-spacing: 4px;
  color: white;
}
@media (max-width: 450px) {
  header h1 {
    padding: 25px 0 0;
  }
}
